.nav {
  align-items: center;
  height: 5rem;
  justify-content: space-around;
}

.nav-index {
  background-color: #333333;
  color: #ffca00;
}

.navbar-toggler {
  color: #ffca00;
}

.form-control {
  width: 24vw;
}

.table, .form, .main-products {
  background-color: #FAFAFA;
}
