.nav {
  align-items: center;
  height: 5rem;
  justify-content: space-around;
}

.nav-index {
  background-color: #333333;
  color: #ffca00;
}

.navbar-toggler {
  color: #ffca00;
}

.form-control {
  width: 24vw;
}

.table, .form, .main-products {
  background-color: #FAFAFA;
}

.div-card-product:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transform: scale(1.03);
}
