.nav {
  align-items: center;
  height: 5rem;
  justify-content: space-around;
}

.nav-index {
  background-color: #333333;
  color: rgb(255, 202, 0);
}

.navbar-toggler {
  color: #ffca00;
}

.form-control {
  width: 24vw;
}

.table, .form, .main-products {
  background-color: rgb(250, 250, 250);
}

.div-card-product:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  transform: scale(1.03);
}

.card-logo {
  height: 280px;
  width: 280px;
}
